{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Filer Project -- edition{% endblock %}

{% block header_title %} Edit File - {{ name }} {% endblock %}

{% block content %}
    <form method="POST" action="?action=edit">
        <textarea name="edit-file">{{ contents }}</textarea>
        <input type="submit" name="btnEdit" value="Edit this file">
        <input type="hidden" name="hiddenName" value="{{ name }}">
        <input type="hidden" name="hiddenContent" value="{{ contents }}">
    </form>
    <a href="?action=upload">Go back to uploaded files</a>
{% endblock %}