{% extends 'layout.html.twig' %}

{% block page_title %}Filer Project{% endblock %}

{% block content %}
<h1>
  Filer Project<br>
  <small>Work In Progress</small><br>
  <a href="?action=register">Register on the filer project</a><br>
  <a href="?action=login">Login onto the filer project</a><br>
  <a href="?action=upload">Upload your files</a>

</h1>
{% endblock %}
