{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Filer Project -- upload{% endblock %}

{% block header_title %} UPLOAD {% endblock %}

{% block content %}
<form  method="POST" enctype="multipart/form-data" action="?action=upload">
    <input type="file" placeholder="upload your file" name="user_file"><br>
    <button type="submit" name="upload">Upload files</button>
</form>

{% for files in files %}
<p>{{ files }}</p>
    <form method="POST" action="?action=upload">
        <input type="submit" name="remove" value="Delete">
        <input type="hidden" value="{{ files }}" name="hiddenFile">
    </form>
    <form method="POST" action="?action=rename">
        <input type="submit" name="rename" value="Rename">
        <input type="hidden" value="{{ files }}" name="hiddenFile">
    </form>
    <form  method="POST" action="?action=upload">
        <input type="submit" name="download" value="Download">
        <input type="hidden" value="{{ files }}" name="hiddenDownloadFile">
    </form>
    <hr>
{% endfor %}
<a href="?action=home">Go back to homepage</a>
{% endblock %}
